.accent-button {
  background-color: @accent;
  color: @accent-contrast;
  opacity: 0.9;
  &:hover {
    background-color: @accent;
    color: @accent-contrast;
    opacity: 1;
    border: @accent;
  }
}
