.header {
  background: #fff;
  padding: 1% 2%;
  margin-bottom: 0;
  height: 155px;
}
.app-title {
    color: @primary;
    font-weight: 300;
    font-size: 35px;
}

.project-status-tag:hover {
  cursor: pointer;
}
