@import '~antd/dist/antd.less';
@import './styles';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import '../node_modules/leaflet/dist/leaflet.css';

* {
  font-family: 'Roboto', sans-serif;
}

.App {
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
